<div id="carousel<%= action_name.capitalize %>" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <% n_items.times do |i| %>
      <div class="carousel-item <%= 'active' if i == 0 %>">
        <%= image_tag("#{location}/desktop/#{i+1}.png", class: "carousel-image d-none d-sm-block") %>
        <%= image_tag("#{location}/mobile/#{i+1}.png", class: "carousel-image d-sm-none") %>
      </div>
    <% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carousel<%= action_name.capitalize %>" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carousel<%= action_name.capitalize %>" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>