<div class="container business-page">
  <h1 class="title"><%= t('business.title') %></h1>
  <p class="description"><%= t('business.description_1') %></p>
  <p class="description"><%= t('business.description_2') %></p>

  <h1 class="title"><%= t('business.title_our_values') %></h1>
  <div class="row widgets-value">
    <% 6.times do |i| %>
      <div class="col-sm-12 col-md-6 col-lg-4 widget-col">
        <div class="widget-value">
          <div class="widget-content">
            <%= image_tag('robotic-arm.svg', class: 'widget-icon') %>
            <h1 class="widget-title"><%= t("business.widget_values.widget_#{i+1}.title") %></h1>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <%= render 'shared/carousel', location: 'carousel/business', n_items: 5%>
</div>