<%= render 'shared/carousel', location: 'carousel/trajectory', n_items: 5 %>

<div class="container trajectory-page">
  <h1 class="title"><%= t('trajectory.title') %></h1>
  <p class="description"><%= t('trajectory.description_1') %></p>
  <p class="description"><%= t('trajectory.description_2') %></p>
  <p class="description"><%= t('trajectory.description_3') %></p>

  <%= image_tag("premis_alejandro_de_la_sota.png", alt: "", class: "award") %>
</div>