<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <title><%= t("header.title") %></title>
    <meta charset="UTF-8">
    <meta name="description" content="<%= t("header.description") %>">
    <meta name="keywords" content="<%= t("header.keywords") %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/menu' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
